@import url(https://fonts.googleapis.com/css?family=Raleway:400);

.headerlogo {
/*    
	color: #ff7400 !important;
*/	
    font-size: 26px;
    font-family: 'Raleway', sans-serif;   
    padding: 10px 10px 10px;
}

.headerlogo:hover {
  color: #ff7400;
  text-decoration: none;
}